In [ ]:
# 1. Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 2. Load the Dataset file
df = pd.read_csv('../data/raw/wfp_food_prices_rwa.csv')
# 3. Preview the Data
print("Shape:", df.shape)
df.head(10)

In [ ]:
print("="*50)
print('This is a data cleaning script for the project on crop prices forecast in Rwanda.')
print("="*50)


print(' Step 1: Understand Data Columns')
print("="*50)

df.columns

==================================================
This is a data cleaning script for the project on crop prices forecast in Rwanda.
==================================================
 Step 1: Understand Data Columns
==================================================

Index(['date', 'admin1', 'admin2', 'market', 'market_id', 'latitude',
       'longitude', 'category', 'commodity', 'commodity_id', 'unit',
       'priceflag', 'pricetype', 'currency', 'price', 'usdprice'],
      dtype='object')

In [18]:
print(' Step 2: Filter for Relevant Crops')
print("="*50)

# Clean commodity names to lowercase
df['commodity_clean'] = df['commodity'].str.lower()

# Keep only target crops
target_crops = ['beans', 'maize', 'bananas']
df = df[df['commodity_clean'].isin(target_crops)]

print("Filtered shape:", df.shape)
df[['commodity', 'price', 'unit']].sample(50)

 Step 2: Filter for Relevant Crops
==================================================
Filtered shape: (10464, 17)

       commodity   price unit
35232    Bananas    95.0   KG
141149     Maize  186.67   KG
124941     Maize   280.0   KG
133934   Bananas   200.0   KG
104505   Bananas   200.0   KG
128576     Maize   500.0   KG
35244      Maize   250.0   KG
37891      Maize   270.0   KG
96436      Maize   150.0   KG
11002    Bananas   412.5   KG
139558     Maize  483.33   KG
44199    Bananas   151.5   KG
39601      Maize   250.0   KG
101423   Bananas  143.33   KG
13978      Maize     151   KG
133063   Bananas   400.0   KG
141985     Maize   600.0   KG
11159      Maize     110   KG
113567     Maize   320.0   KG
55767    Bananas   110.0   KG
17607    Bananas  428.88   KG
4335       Maize     220   KG
19286    Bananas  481.25   KG
130768   Bananas  333.33   KG
11484      Beans  308.39   KG
138864     Maize  550.37   KG
122413   Bananas   185.0   KG
117153   Bananas  176.67   KG
34843      Maize  194.33   KG
16990    Bananas     500   KG
141531     Maize  406.67   KG
82907    Bananas  188.57   KG
29547    Bananas   175.5   KG
59166    Bananas  175.33   KG
75895    Bananas  185.71   KG
40684    Bananas   200.0   KG
19672    Bananas   533.5   KG
72562      Maize   205.0   KG
81218    Bananas   200.0   KG
11442      Maize   102.5   KG
141980     Maize  498.72   KG
68053    Bananas   200.0   KG
114984     Maize   150.0   KG
136167     Maize   300.0   KG
142209     Maize   550.0   KG
10986      Maize     100   KG
51347    Bananas   200.0   KG
103243   Bananas  145.75   KG
117019     Maize   240.0   KG
32311    Bananas   147.5   KG

In [24]:
print(' Step 3: Handle Dates')
print("="*30)

# Convert date column to datetime
print("before date conversion:")
print(df['date'].head())
print("="*30)

df['date'] = pd.to_datetime(df['date'])


# Extract year & month for aggregation
df['year_month'] = df['date'].dt.to_period('M').astype(str)
print("Date conversion successful. Sample dates:")
print(df['year_month'])
print(df.columns)
print("="*30)

 Step 3: Handle Dates
==============================
before date conversion:
1   2000-01-15
2   2000-02-15
3   2000-02-15
4   2000-03-15
5   2000-03-15
Name: date, dtype: datetime64[ns]
==============================
Date conversion successful. Sample dates:
1         2000-01
2         2000-02
3         2000-02
4         2000-03
5         2000-03
           ...
143087    2025-07
143094    2025-07
143103    2025-07
143109    2025-07
143116    2025-07
Name: year_month, Length: 10464, dtype: object
Index(['date', 'admin1', 'admin2', 'market', 'market_id', 'latitude',
       'longitude', 'category', 'commodity', 'commodity_id', 'unit',
       'priceflag', 'pricetype', 'currency', 'price', 'usdprice',
       'commodity_clean', 'year_month'],
      dtype='object')
==============================

In [35]:
print('Step 4: Clean Missing or Invalid Values')
print("="*30)

print("Before data cleaning: ")
print(df.info())
print("="*30)

# Check for missing values
print("Missing values before cleaning: ", df.isnull().sum().count())
print("="*30)

print("Missing values: ", df.isnull().sum())
print("="*30)

print("Unique values before cleaning: ", df.nunique().count())
print("="*30)

print("Unique values: ", df.nunique())
print("="*30)

# Drop rows with missing price or date

# Convert 'price' to numeric (clean bad formatting)
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Drop rows where price or date is missing
print("Before dropping missing values, shape:", df.shape)
print("="*30)

df = df.dropna(subset=['price', 'date'])
print("After dropping missing values, shape:", df.shape)
print("="*30)

# Drop unrealistic prices
df = df[df['price'] > 0]

print("Missing values handled. Remaining shape:", df.shape)

Step 4: Clean Missing or Invalid Values
==============================
Before data cleaning:
<class 'pandas.core.frame.DataFrame'>
Index: 10464 entries, 1 to 143116
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             10464 non-null  datetime64[ns]
 1   admin1           10464 non-null  object
 2   admin2           10464 non-null  object
 3   market           10464 non-null  object
 4   market_id        10464 non-null  object
 5   latitude         10464 non-null  object
 6   longitude        10464 non-null  object
 7   category         10464 non-null  object
 8   commodity        10464 non-null  object
 9   commodity_id     10464 non-null  object
 10  unit             10464 non-null  object
 11  priceflag        10464 non-null  object
 12  pricetype        10464 non-null  object
 13  currency         10464 non-null  object
 14  price            10464 non-null  float64
 15  usdprice         10464 non-null  object
 16  commodity_clean  10464 non-null  object
 17  year_month       10464 non-null  object
dtypes: datetime64[ns](1), float64(1), object(16)
memory usage: 1.5+ MB
None
==============================
Missing values before cleaning:  18
==============================
Missing values:  date               0
admin1             0
admin2             0
market             0
market_id          0
latitude           0
longitude          0
category           0
commodity          0
commodity_id       0
unit               0
priceflag          0
pricetype          0
currency           0
price              0
usdprice           0
commodity_clean    0
year_month         0
dtype: int64
==============================
Unique values before cleaning:  18
==============================
Unique values:  date                281
admin1                5
admin2               29
market              109
market_id           174
latitude            113
longitude           121
category              3
commodity             3
commodity_id          6
unit                  1
priceflag             3
pricetype             2
currency              1
price              2943
usdprice            190
commodity_clean       3
year_month          281
dtype: int64
==============================
Before dropping missing values, shape: (10464, 18)
==============================
After dropping missing values, shape: (10464, 18)
==============================
Missing values handled. Remaining shape: (10464, 18)